@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /* font tirada do google fonts */

@font-face { /* font baixada na internet */
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root { /* variaves de cor e de fontes */
    --cor01:#23A860;
    --cor02:#28764D; 
    --cor03:#1DDB76;
    --cor04:#1E4832;
    --cor05:#264D3A;

    --font-padrao: arial, verdana, helvetica, sans-serif;
    --font-destaque: "Bebas Neue", sans-serif;
    --font-android: 'Android', 'cursive';
}

* { /* regra geral */
    margin: 0px;
    padding: 0px;
}

body { /* cor de fundo e fonte geral */
    background-color: var(--cor01);
    font-family: var(--font-padrao)
}

a.externo::after { /* todo link externo vai ter apos o link um simbolo ao lado */
    content: '\1F517'; /* simbolo que aparecera ao lado do link */ 
}

header { /* configuraçao do cabeçalho */
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

header > h1 { /* Titulo principal do cabeçalho */
    color: white;
    font-family: var(--font-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 4px 6px 8px rgba(0, 0, 0, 0.548);
}

header > p { /* texto dentro do cabeçalho */
    color: white;
    font-family: var(--font-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 4px 6px 8px rgba(0, 0, 0, 0.548);
}

nav { /* cor de fundo do menu de navegaçao */ 
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.432);
}

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.2s; /* um delay na animaçao de transiçao de um menu para o outro */
}

nav > a:hover {
    background-color: #23A860;
    color: #264D3A;
}

nav > a:active {
    color: white;
}

main { /* conteudo principal */
    background-color: white;
    min-width: 300px; /* largura minina do conteudo principal */
    max-width: 1000px; /* largura maxima do conteudo principal */
    margin: auto; /* forma de deixar centralizada caixa do conteudo */
    margin-bottom: 30px; /* dar uma afastada do rodape */
    padding: 20px; /* descolar o conteudo do main da borda */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.658);
    border-bottom-left-radius: 20px; /* borda somente na parte de baixo da main */
    border-bottom-right-radius: 20px;
}

main p {
    margin: 15px 0px; /* cria um espaçamento entre titulos e paragrafos */
    text-align: justify;
    text-indent: 30px; /* cria um espaçamento em casa inicio de paragrafo */
    font-size: 1em;
    line-height: 1.5em; /* espaçamento das linhas do paragrafo */
}

main strong {
    color: var(--cor04);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: #28764D;
    background-color: #1DDB76;
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor04);
}

main img {
    width: 100%; /* deixa a imagem responsiva, fazendo com que elas se expremam e adaptem */
}

main img.pequena {
    max-width: 350px;
    display: block; /* transformar uma imagem em box-level */
    margin: auto;
}

main  h1 {
    font-family: var(--font-android);
    color: #28764D;
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--font-android);
    color: var(--cor04);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor01), transparent);
    text-indent: 8px;
}

div.video {
    background-color: var(--cor05);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%; /* aqui diminuimos caso o video fique com borda preta */
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%; /* quando usado o absolute, posso usar top e left */
    left: 5%; /* espaçamento entre a mao do mouse e o conteudo */
    width: 90%;
    height: 90%;
}

aside {
    background-color: #1DDB76;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.253);
}

aside > ul {
    list-style-position: inside; /* coloca as bolinhas dentro do conteudo */
    columns: 2; /* divide a tabela */
    list-style-type: '\2705\00A0\00A0'; /* coloca um simbolo na lista | 00A0 = espaçamento do conteudo da lista */
}

aside > h3 {
    background-color: var(--cor04);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px; /* para que o fundo do h3 mescle com cor de fundo do aside */
    border-radius: 10px 10px 0px 0px; /* faz com que tenhamos so arredondamento na parte de cima */
}

footer {
    background-color: var(--cor05);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #1DDB76;
}